html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#mainText {
    font-size: 4.5em;
    margin-bottom: 0.5em;
}

#numberText {
    font-size: 3em;
    margin-bottom: 3em;
}

#title {
    font-size: 2em;
    margin-bottom: 2em;
}
