html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.box {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

#mainText {
    font-size: 3.5em;
    margin-bottom: 0.5em;
}

#numberText {
    font-size: 2em;
    margin-bottom: 2em;
}

#title {
    font-size: 1em;
    margin-bottom: 2em;
}
